.profile-container{
    margin: 50px auto; 
}
.profile-header{
    background-color: #f8f8f8; 
    padding: 30px 20px;
    text-align: right;
    position: relative;
    border-bottom: 1px solid #eee;
}
.close-button{
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 70px; 
    color: #666;
    text-decoration: none;
    line-height: 1;
    cursor: pointer;
}
.user-info{
    display: flex;
    align-items: center;
    gap: 20px; 
    direction: rtl; 
}
.user-info h1{
    font-size: 60px; 
    color: #333;
    white-space: nowrap;
}
.user-info p{
    font-size: 40px; 
    color: #777;
    white-space: nowrap;
    margin-right: 20px;
}
.profile-options{
    padding: 0;
}
.profile-options li{
  list-style: none;
}
.profile-option-link, .profile-option-button{
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    padding: 25px 30px; 
    text-decoration: none;
    color: #0E4866;
    font-size: 40px; 
    background-color: transparent;
    border: none;
    text-align: right;
    gap: 15px; 
    cursor: default;
}
.button-text, .option-text{
    flex-grow: 1;
    text-align: right;
}
.button-icon, .option-icon{
    font-size: 30px; 
    color: #888;
    flex-shrink: 0;
}
#logoutButton:hover{
    font-weight: bold; 
    cursor: pointer;
}
#deleteProfileButton:hover{
    font-weight: bold;
    cursor: pointer;
}