.reports-filter-buttons-container{
    display: flex; 
    padding: 10px 25px; 
    border-radius: 20px; 
    margin: 40px 25px 20px 25px; 
    direction: rtl; 
    gap: 10px;
}
.filter-button{
    flex-grow: 1; 
    flex-basis: 0; 
    padding: 12px 15px; 
    margin: 0 5px; 
    background-color: transparent; 
    border: none; 
    border-radius: 10px; 
    font-size: 45px; 
    font-weight: bold;
    color: #3F98B8; 
    cursor: pointer;  
    background-color: #EBFFF8;
}
.filter-button.active{
    color: #256586; 
}
.filter-button:hover{
    transform: scale(1.1);           
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}
.report-summary-card{
    display: flex; 
    justify-content: space-between; 
    background-color: #EBF7FB; 
    border-radius: 10px; 
    padding: 15px 20px; 
    margin-bottom: 25px;
}
.report-info{
  display: flex;
  padding: 0px;
  font-size: 40px;
}
.report-id-type{
    font-weight: bold; 
    color: #000000; 
    white-space: nowrap; 
    font-family: 'Heebo', sans-serif;
    margin: 0px;
    padding: 0px;
}
.report-id-word{
    font-weight: bold; 
    color: #000000; 
    white-space: nowrap; 
    font-family: 'Heebo', sans-serif;
    margin: 0px;
    padding: 0px;
}
.view-details-link{
    font-size: 40px;
    color: #076FCA; 
    text-decoration: none;
    font-weight: normal;
    white-space: nowrap; 
}
.view-details-link:hover{
  font-weight: bold;
}
.detail-item span.status-paid{
    color: #388E3C;
}
.detail-item span.status-rejected{
    color: #D32F2F;
}
.detail-item span.status-in-progress{
    color: #2e23c2;
}
#editStatus{
  font-size: 35px;
  padding: 8px;     
}
#mediaContainer img{
  width: 300px;
}
.detail-item textarea{
  font-size: 35px;
  padding: 10px; 
  width: 100%;
  box-sizing: border-box; 
  resize: vertical; 
}

.custom-select {
  font-size: 40px;
  position: relative;
  background-color: #f1f1f1;
  border-radius: 8px;
  cursor: pointer;
  direction: rtl;
}

.custom-select .selected {
  padding: 10px 14px;
  border-radius: 8px;
  background-color: #ffffff;
  position: relative;
}

.custom-select .selected::after {
  content: '▼';
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 12px;
  color: #555;
  pointer-events: none;
}

.custom-select.open .selected::after {
  content: '▲';
}

.custom-select .options {
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  z-index: 10;
  display: none;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.custom-select.open .options {
  display: block;
}

.custom-select .options li {
  padding: 10px 14px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  list-style: none;
}

.custom-select .options li:hover {
  background-color: #eee;
}

.custom-select .options li.selected {
  background-color: #dceaff;
  font-weight: bold;
}