.reports-title h2{
    width: 600px;
    font-size: 100px;
    color: #266686; 
    font-weight: bold;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    margin: 0;
    margin-left: 75px;
    padding-top:150px;
}
.footer-employee{
    display: flex;             
    align-items: center;       
    justify-content: center; 
    margin-bottom: 30px;
    gap: 30px;
}
.footer-employee button{
    background: #41D2CF;
    color: #266686;
    padding: 15px 30px;
    border: none;
    border-radius: 30px;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
    width: 300px;
}
.footer-employee button:hover{
  color: #10435c;
}
