body{
  margin: 0;
  padding: 0;
  background-image: url("../images/Background_image.png");
  background-repeat: no-repeat;  
  background-size: 100% 100%;
  min-height: 100vh;
  font-family: 'Heebo', sans-serif; 
}  
.Wrapper{
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

